/*DEVELOPER: Wesley Fegan, IS117-005, Spring 2021 */

input {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

label {
	margin-left: 10%;
}

#message {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	min-height: 300px;
}