/*DEVELOPER: Wesley Fegan, IS117-005, Spring 2021 */

#content img {
	width: 95%;
	height: auto;
	max-width: 640px;
	max-height: 480px;
}

#caption {
	color: gray;
	text-align: left;
	font-size: 12px;
	position: absolute;
}
#image-cap {
	display: block;
	margin: 0 auto;
	width: 40%;
}